.img-gallery{
    box-sizing: 1024px;
    position: relative;
    width: 100%;
    margin: 25px auto 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img{
    position: relative;
    width: 100%;
    cursor: pointer;
}